<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        console.log("hi")</script>
</head>

<body>

    <h1>Hi {{name}}</h1>
    <h2>I am {{age}}</h2>
    <h3>Hobbies</h3>
    <ul>
        {% for hobby in hobbies%}
        <li>{{hobby}}</li>
        {% endfor %}
    </ul>
    <h3>Users:</h3>
    <ul>
        {% for user in users%}
        <li>{{user}}</li>
        {% endfor %}
    </ul>

    <hr />
    <form action="/new" method="post">
        {%csrf_token%}
        <label for="email">email</label>
        <input type="text" name="email">
        <button type="submit">Submit</button>
    </form>

</body>

</html>